extends layout

block content
  p Welcome to the Inventory App

  h2="The inventory currently has:"

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}
    li #[strong Total Items in stock:] !{stock_count}