extends layout

block content
    div.form-container
        form(method='POST')
            div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='Samsung Note 7, etc.' name='name' required value=(undefined===item ? '' : item.name) )
            div.form-group
                label(for='description') Description:
                input#description.form-control(type='text', placeholder='Description of item' name='description' required value=(undefined===item ? '' : item.description) )
            div.form-group
                label(for='stock') Stock:
                input#stock.form-control(type='text', placeholder='Stock of item' name='stock' required value=(undefined===item ? '' : item.stock) )
            div.form-group
                label(for='price') Price:
                input#price.form-control(type='text', placeholder='0.99, etc' name='price' required value=(undefined===item ? '' : item.price) )
            div.form-group
                label(for='category') Category:
                select#category.form-control(name='category' required)
                    option(value='') --Please select a category--
                    for category in category_list
                        option(value=category._id selected) #{category.name}
            button.btn.btn-primary(type='submit') Submit
                    

    if errors
        ul
        for error in errors
            li!= error.msg