body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.heading-items {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}
